body{
    background-color: white;
    margin: 0;
    padding: 0;
}
header{
    background-image: url("images\ \(5\).jfif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid black;

}
nav{
    padding-top: 10px;
    padding-bottom: 10px;
}
header h1{
    font-size: 50px;
    color: black;
    text-align: center;
    display: block;

}
ul{
    text-align:right;
}
ul li{
    display: inline;
    margin: 30px;
    font-weight: bold;
}
ul li a{
    color: black;
    font-size: 25px;
}
li a:hover{
    color: red;
}
.banner{
    background-image: url("images\ \(5\).jfif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   

}
.banner-content{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;

}
.h2{
    font-size: 50px;
    border-bottom: 2px solid black;

}
.p2{
    font-size: 30px;
    font-weight: 20px;

}
.abc{
    background-image: url("images\ \(5\).jfif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   

}
.abc{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25px;
}
.abc h1{
    font-size: 50px;
    border-bottom: 2px solid black;
}
.project h2{
    font-size: 40px;
}
.project p{
    font-size: 25px;
}
.project{
    border: 2px solid black;
    padding: 20px;
    border-radius: 7px;
    margin: 20px 0;
}
